name: goreleaser

on:
  push:
    # run only against tags
    tags:
      - "v0.[0-9]+.[0-9]+"
      - "v1.[0-9]+.[0-9]+"

env:
  GO_VERSION: 1.22
  GO_RELEASER_VERSION: v1.25.1
  
permissions: {}

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    environment: homebrew-tap
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
    - uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
      with:
        egress-policy: audit
    - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      with:
        fetch-depth: 0
    - name: Setup Go
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5
      with:
        go-version: ${{ env.GO_VERSION }}
        cache: false
    - uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 # v3.5.0
    - uses: actions/create-github-app-token@a0de6af83968303c8c955486bf9739a57d23c7f1 # v1.10.0
      id: homebrew-tapper-bot-token
      with:
        app-id: ${{ vars.HOMEBREW_TAPPER_BOT_APP_ID }}
        private-key: ${{ secrets.HOMEBREW_TAPPER_BOT_PRIVATE_KEY }}
        repositories: homebrew-tap
    - name: Login to GitHub Container Registry to allow cosign signature push
      run: echo "$DOCKER_PASSWORD" | docker login ghcr.io --username "$DOCKER_USERNAME" --password-stdin
      env:
        DOCKER_USERNAME: ${{ github.actor }}
        DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@5742e2a039330cbb23ebf35f046f814d4c6ff811 # v5
      with:
        distribution: goreleaser
        version: ${{ env.GO_RELEASER_VERSION }} # Not pinnable by hash, nor does it verify its signature
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TAP_GITHUB_TOKEN: ${{ steps.homebrew-tapper-bot-token.outputs.token }}
